.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding: 10px;
}

.usersName {
}

.userName {
  text-align: right;
  color: blue;
  padding: 15px;
}

.messages {
}

.userMessages {
  padding: 15px;
}
